/*<------------- NAV BAR CSS -----------> */
.container {
    max-width: 960px;
    display: flex;
    padding-top: .25rem!important;
    padding-bottom: .25rem!important;
}

.site-header{
    background-color: rgba(0, 0, 0, .85);
    backdrop-filter: saturate(180%) blur(20px);
}

.pb-1, .py-1 {
    padding-top: .25rem!important;
    padding-bottom: .25rem!important;
}

.pb-2, .py-2 {
    padding-top: .25rem!important;
    padding-bottom: .5rem!important;
}



.justify-content-between {
    justify-content: space-between!important;
}


/*<------------- NAV BAR CSS -----------> */